body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

#container {
  width: 80%;
  margin: auto;
  text-align: center;
}

#canvas {
  border: 5px solid  #2c8243;
}

h1, h2, h3, h4, p {
  color: #2c8243;
  text-align: center;
  font-weight: bold;
}

.main-heading {
  padding: 40px;
  border-bottom: 2px solid  #2c8243;
}

.main-title {
  font-size: 250%;
}

#game-board {
  display: inline-block;
}

#score-board{
  border-bottom: 2px solid  #2c8243;
}

/*Styles for First Modal*/
#modal-init {
  display: none;
  position: fixed;
  padding-top: 25px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}

#model-content {
  position: relative;
  background-color: azure;
  padding: 20px;
  margin: auto;
  width: 40%;
}

#model-heading {
  font-size: 125;
  color: #2c8243;
  text-align: center;
}

input[type="submit"] {
  width: 100%;
  margin-top: 25px;
  padding: 20px;
  font-size: 120%;
  font-family: 'Press Start 2P', cursive;
}

input[type="radio"] {
  padding: 25px;
}

fieldset {
  margin-top: 25px;
  padding: 20px;
  font-size: 100%;
}

/*Styles for endgame modal*/
#modal-end {
  display: none;
  position: fixed;
  padding-top: 25px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}

#modal-end-content {
  position: relative;
  background-color: azure;
  padding: 20px;
  margin: auto;
  width: 40%;
}

#restart {
  font-size: 125;
  color: #2c8243;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  padding: 20px;
  font-size: 120%;
  font-family: 'Press Start 2P', cursive;
}
